$purple-color:#7166e0;
$blue-color:#2faef6;
$gray-color:#525252;
$gray-1-color:#a2a2a2;
$gray-2-color:#4c4c4c;
$gray-3-color:#f0f0f0;

$color-Red:#c52702;
$color-Red-1:#ea5455;

$color-Grey-light: #cacaca;
$color-Grey-light-1: #faf9f9;
$color-Grey-light-2: #f4f2f2;
$color-Grey-light-3: #f0eeee;
$color-Grey-light-4: #ccc;
$color-Grey-light-5: #fcfaf1;

$color-Grey-dark: #343434;
$color-Grey-dark-1: #333;
$color-Grey-dark-2: #777;
$color-Grey-dark-3: #999;