@import "../Abstracts/variables";

* {
  &, &::after, &::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.15;
  width: 100vw;
  height: 100vh;
  background-size: 100%;
  display: grid;
  place-content: center;
  background-color: white;
}

.error_message {
  width: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  background-color: #e40017d9;
  z-index: 15;
  text-align: center;
  padding: 15px;
  color: white;
}